.net {
  margin: 0 25px;

  .content {
    .tab-img {
      border: 1px solid #ddd;
      border-top: 0;
      padding: 15px 0;
      margin-bottom: 20px;

      h4 {
        padding-top: 15px;
        text-indent: 20px;
        font-weight: 400;
      }
    }
  }
}